.title {
  text-align: center;
  padding: 1%;
  border-bottom: 1px solid #bf9df6;
}

.f1 {
  text-align: left !important;
  margin-right: 7.2em;
}

.navbar {
  background-color: rgb(56, 189, 60) !important;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  column-gap: 5vh;
}